resources/policySchemas/authentication-certificate.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="authentication-certificate" type="AuthenticationCertificatePolicyConfiguration" />
  <xs:complexType name="AuthenticationCertificatePolicyConfiguration">
    <xs:attribute name="id" type="xs:string" use="optional" />
    <xs:attribute name="thumbprint" type="xs:string" use="optional" />
    <xs:attribute name="certificate-id" type="xs:string" use="optional" />
    <xs:attribute name="body" type="xs:string" use="optional" />
    <xs:attribute name="password" type="xs:string" use="optional" />
  </xs:complexType>
</xs:schema>