resources/policySchemas/authentication-basic.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="authentication-basic" type="AuthenticationBasicPolicyConfiguration" />
    <xs:complexType name="AuthenticationBasicPolicyConfiguration">
		<xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="username" type="xs:string" use="required" />
        <xs:attribute name="password" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>