resources/policySchemas/choose.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="choose">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="when" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
                        </xs:sequence>
                        <xs:attribute name="condition" use="required">
                            <xs:simpleType>
                                <xs:union memberTypes="xs:boolean expression" />
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>
                </xs:element>
                <xs:element name="otherwise" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:any minOccurs="0" maxOccurs="unbounded" processContents="skip" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="expression">
        <xs:restriction base="xs:string">
            <xs:pattern value="@[\(\{][\s\S]+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>