resources/policySchemas/include-fragment.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="include-fragment">
        <xs:complexType>
            <xs:attribute name="id" type="xs:string" use="optional" />
            <xs:attribute name="fragment-id" type="xs:string" use="required" />
        </xs:complexType>
    </xs:element>
</xs:schema>