resources/policySchemas/log-to-eventhub.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="log-to-eventhub" type="LogToEventHubConfiguration" />
  <xs:complexType name="LogToEventHubConfiguration">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute type="xs:string" name="logger-id" use="required"/>
        <xs:attribute type="xs:string" name="partition-key" use="optional"/>
        <xs:attribute type="xs:string" name="partition-id" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
</xs:schema>