resources/policySchemas/mock-response.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="mock-response" type="MockResponsePolicyConfiguration" />
    <xs:complexType name="MockResponsePolicyConfiguration">
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="enabled" type="xs:boolean" use="optional" />
        <xs:attribute name="status-code" type="xs:int" use="optional" />
        <xs:attribute name="content-type" type="xs:string" use="optional" />
        <xs:attribute name="index" type="xs:int" use="optional" />
    </xs:complexType>
</xs:schema>