resources/policySchemas/rewrite-uri.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="rewrite-uri" type="RewriteUriPolicyConfiguration" />
  <xs:complexType name="RewriteUriPolicyConfiguration">
    <xs:attribute name="id" type="xs:string" use="optional" />
    <xs:attribute name="template" type="xs:string" use="required" />
	<xs:attribute name="copy-unmatched-params" type="xs:boolean" use="optional" default="false" />
  </xs:complexType>
</xs:schema>