resources/policySchemas/set-request-metric-dimension-value.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="set-request-metric-dimension-value" type="SetRequestMetricDimensionValue" />
    <xs:complexType name="SetRequestMetricDimensionValue">
        <xs:attribute name="id" type="xs:string" use="optional" />
        <xs:attribute name="name" type="xs:string" use="required" />
        <xs:attribute name="value" type="xs:string" use="required" />
    </xs:complexType>
</xs:schema>