resources/policySchemas/wait.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="wait">
        <xs:complexType>
            <xs:choice minOccurs="1" maxOccurs="unbounded">
                <xs:element name="choose" />
                <xs:element name="forward-request" />
                <xs:element name="send-request" />
                <xs:element name="cache-lookup-value" />
                <xs:element name="cache-store-value" />
                <xs:element name="authentication-managed-identity" />
                <xs:element name="authentication-token" />
            </xs:choice>
            <xs:attribute name="for" use="required">
                <xs:simpleType>
                    <xs:union memberTypes="WaitMode expression" />
                </xs:simpleType>
            </xs:attribute>
            <xs:attribute name="id" type="xs:string" use="optional" />
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="WaitMode">
        <xs:restriction base="xs:string">
            <xs:enumeration value="all"/>
            <xs:enumeration value="any"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="expression">
        <xs:restriction base="xs:string">
            <xs:pattern value="@[\(\{][\s\S]+"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>